<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Some Website</title>
    </head>
    <body>
     <h1>MAINTENANCE</h1>
     <p>Site is in maintenance mode</p>
    </body>
</html>